<%- include('./partials/header') %>
<h3 class="text-3xl font-semibold md:text-start text-center text-blue-400 px-20 py-5">Your Cart</h3>
<% if(user.cart.length === 0){ %>
  <h3 class="text-xl pt-0 px-20 md:text-start text-center">Your cart is empty</h3>
<% } %>
<div class="w-full flex flex-wrap justify-center items-start px-10 md:px-20 py-5 gap-5">
<% user.cart.forEach(function(item){ %>
  <div class="w-full md:w-72 rounded-md overflow-hidden">
    <div class="flex relative justify-center items-center w-full h-52 bg-[<%= item.product.bgcolor %>]">
      <div class="absolute text-black top-1 right-1">
        <a href="/delete/<%= item.product._id %>">
          <img width="20" src="/img/delete.png" alt="">
        </a>
      </div>
      <img class="p-2 w-3/2 h-full" src="data:image/jpeg;base64,<%= item.product.image.toString('base64') %>" alt=""/>
    </div>
    <div class="w-full flex justify-between px-5 py-4 text-[<%= item.product.textcolor %>] bg-[<%= item.product.panelcolor %>]">
      <h3 class="text-2xl"><%= item.product.name %></h3>
      <div class="flex items-center gap-2">
        <form action="/cart/decrement/<%= item.product._id %>" method="POST">
          <button type="submit" class="cursor-pointer hover:bg-[<%= item.product.textcolor %>] hover:text-[<%= item.product.bgcolor %>] transition-all w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"></button>
        </form>
        <div class="px-2 py-1 rounded-md bg-white"><%= item.quantity %></div>
        
        <form action="/cart/increment/<%= item.product._id %>" method="POST">
          <button type="submit" class="cursor-pointer hover:bg-[<%= item.product.textcolor %>] hover:text-[<%= item.product.bgcolor %>] transition-all w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"></button>
        </form>
      </div>
    </div>
    <div class="flex items-center justify-between px-5 py-3 text-[<%= item.product.panelcolor %>] bg-[<%= item.product.textcolor %>]">
      <h4 class="text-lg">Price</h4>
      <div class="flex items-center gap-1">
        <% if(item.product.discount > 0){ %>
          <p class="text-sm bg-[<%= item.product.bgcolor  %>] text-[<%= item.product.textcolor %>] rounded-full p-1 flex items-center">
            <svg viewBox="0 0 24 24" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" fill="currentColor"/>
            </svg>
            Rs. <%= item.product.discount %>/- off
          </p>
        <% } %>
        <h2 class="text-lg">Rs. <%= item.product.price %>/-</h2>
      </div>
    </div>
  </div>
<% }) %>
</div>
<% if(user.cart.length > 0){ %>
  <div class="w-[80%] xl:w-[70%] flex flex-col mx-auto pb-10">
    <h3 class="text-3xl font-bold text-center">Price Breakdown</h3>
    <div class="xl:px-60 mt-5">
      <div class="flex mt-2 justify-between">
        <h4 class="">Total Price</h4>
        <h4 class="w-1/4">Rs. <%= price %>/-</h4>
      </div>
      <div class="flex mt-2 justify-between">
        <h4 class="">Total Discount</h4>
        <h4 class="w-1/4">Rs. <%= discount %>/-</h4>
      </div>
      <div class="flex mt-2 justify-between">
        <h4 class="">Platform Fee</h4>
        <h4 class="w-1/4">Rs. <%= platform %>/-</h4>
      </div>
      <div class="flex mt-2 justify-between">
        <h4 class="">Shipping Fee</h4>
        <h4 class="w-1/4">FREE</h4>
      </div>
    </div>
    <div class="w-full xl:w-1/2 h-[1px] bg-black mx-auto my-5"></div>
    <div class="flex justify-between xl:px-60">
      <h3 class="font-semibold md:text-xl">Total Amount</h3>
      <h3 class="w-1/4 font-semibold md:text-xl text-green-600">Rs. <%= bill %>/-</h3>
    </div>
  </div>
<% } %>
<%- include('./partials/footer') %>
